.container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
  }
  
  .footer {
    background-color: #F7F5FA;;
  }

  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  /* Bright Colours */
  #bootstrap-overrides-red {
    background-color: #EA3546 !important;
    color: #F7F5FA !important;
  }
  #bootstrap-overrides .orange{
    background-color: #F86624 !important;
    color: #F7F5FA !important;
  }
  #bootstrap-overrides .yellow {
    background-color: #F9C80E !important;
    color: #1F1D1D !important;
  }
  #bootstrap-overrides .green {
    background-color: #67D346 !important;
    color: #1F1D1D !important;
  }
  #bootstrap-overrides .blue{
    background-color: #43BCCD !important;
    color: #F7F5FA !important;
  }
  #bootstrap-overrides .purple{
    background-color: #662E9B !important;
    color: #F7F5FA !important;
  }

  #bootstrap-overrides h1, h2, h3, h4 {
    font-family: 'Chelsea Market', cursive !important;
  }
  #bootstrap-overrides p {
    font-family: 'Caudex', serif !important;
  }