.container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
  }
  
  .footer {
    background-color: #F7F5FA;;
  }

  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  /* Bright Colours */
  .red {
    background-color: #EA3546;
    color: #F7F5FA;
  }
  .orange{
    background-color: #F86624;
    color: #F7F5FA;
  }
  .yellow {
    background-color: #F9C80E;
    color: #1F1D1D;
  }
  .green {
    background-color: #67D346;
    color: #1F1D1D;
  }
  .blue{
    background-color: #43BCCD;
    color: #F7F5FA;
  }
  .purple{
    background-color: #662E9B;
    color: #F7F5FA;
  }

  h1 h2 h3 h4 h5 {
    font-family: 'Chelsea Market', cursive;
  }
  p {
    font-family: 'Caudex', serif;
  }