<!--Inherit the template page and extend it-->
{% extends "templatePage.html" %}
<!--add this html where the corresponding blocks are-->
{% block title %}Home Page{% endblock %}
{% block body %}
    <h1>Hello</h1> 
    <p>Welcome to the main page.</p> 
    <p> 
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sed arcu egestas, commodo dolor sed, imperdiet dolor. Curabitur dictum metus nunc, nec vehicula magna scelerisque sed. Duis eros odio, faucibus non venenatis a, lobortis sed sapien. Sed id risus velit. Fusce imperdiet ex sit amet augue pellentesque finibus. Proin consequat fringilla sem sed viverra. Curabitur nec tempor arcu. Sed consectetur ipsum nunc, eget accumsan lorem volutpat quis. Quisque at lobortis nisi, non sodales risus. Sed nec est feugiat, laoreet nisi id, ullamcorper arcu. Vestibulum porttitor nisi nec purus aliquam, quis varius sem euismod. Vestibulum vel dictum nulla. Suspendisse lobortis vestibulum feugiat.
    </p>
    <h2>Want to learn more about nutrition? </h2>
    <p>
        Take a look at the Eatwell Guide on the NHS website <a href="https://www.nhs.uk/live-well/eat-well/the-eatwell-guide/">here</a>.
    </p>
{% endblock %}